:root {
  --bgcolor: #18191a;
  --primarycard: #242526;
  --hovercard: #3a3b3c;
  --primarytext: #e4e6eb;
  --secondarytext: #b0b3b8;
  --accentcolor: #3700b3;
  --formHeight: calc(100vh - 110px);
  --green: #179f56;
  --red: #ab0032;
  --redBorder: #cf6679;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 108%;
  color: var(--primarytext);
}

::-webkit-scrollbar {
  display: none;
}
main {
  min-height: 100vh;
  min-width: 100vw;
  background: #18191a;
  display: grid;
  place-items: center;
  grid-template-areas:
    "topbar   topbar    topbar"
    "menubar  submitbtn responsebar"
    "forms    forms     output"
    "tabbar   tabbar    output"
    "tabfield tabfield  output";
  grid-template-columns: 8fr minmax(100px, 2fr) 10fr;
  grid-template-rows: 40px 35px auto 35px auto;
  align-items: stretch;
  justify-content: stretch;
}
main > * {
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  border: 0.05px solid rgba(219, 219, 219, 0.2);
}
header {
  grid-area: topbar;
  background: #242526;
  color: var(--primarytext);
  letter-spacing: 7px;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
nav {
  background: var(--primarycard);
  color: var(--secondarytext);
  font-weight: 300;
}
.menubar {
  grid-area: menubar;
}
.submitbtn {
  grid-area: submitbtn;
  align-items: center;
  justify-content: center;
  background: var(--accentcolor);
  color: var(--secondarytext);
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 102%;
  text-decoration: none;
}
.submitbtn:hover {
  font-weight: bolder;
  border: 2px solid rgba(219, 219, 219, 0.7);
  color: var(--primarytext);
  letter-spacing: 2px;
  transition: 0.5s;
  font-size: 107%;
}
.responsebar {
  grid-area: responsebar;
  align-items: center;
  justify-content: center;
}
.responsebar > * {
  margin-left: 7px;
}
.forms {
  grid-area: forms;
  height: calc(var(--formHeight) / 4);
}
.formfield {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  height: 30%;
  border-radius: 10px;
}
.dropdown {
  position: relative;
  margin: 5px;
  width: 20%;
}
.dropdown::before {
  content: "Request";
  background: var(--bgcolor);
  padding: 0 5px;
  color: var(--secondarytext);
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 70%;
  letter-spacing: 1px;
}
.urlbar {
  position: relative;
  margin: 5px;
  width: 75%;
}
.urlbar::before {
  content: "API Endpoint";
  color: var(--secondarytext);
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: calc(12px);
  font-size: 70%;
  letter-spacing: 1px;
  background: var(--bgcolor);
  padding: 0 5px;
}
.output {
  grid-area: output;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.tabbar {
  grid-area: tabbar;
  display: grid;
  grid-template-areas: "query  headers   json";
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  justify-content: stretch;
}
.tabbar > * {
  background: transparent;
  border: 0.05px solid rgba(219, 219, 219, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tabfield {
  grid-area: tabfield;
  height: calc(var(--formHeight) * 0.75);
  display: grid;
  align-items: stretch;
  justify-content: stretch;
}
.tabfield > * {
  grid-row-start: 1;
  grid-column-start: 1;
  color: var(--primarytext);
  overflow: scroll;
}
select {
  background: var(--bgcolor);
  color: var(--primarytext);
  border-radius: 10px;
  padding: 10px 5px 5px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s;
  width: 100%;
}
input:hover,
select:hover {
  border: 1px solid white;
  /* background: var(--primarycard); */
  transition: 0.6s;
}
input:focus {
  outline: none;
}
input {
  width: 100%;
  background: var(--bgcolor);
  color: var(--primarytext);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px 7px 15px;
  border: 1.2px solid rgba(219, 219, 219, 0.4);
  transition: 0.6s;
}
.queryParamsTab {
  grid-area: query;
  background: var(--hovercard);
  font-weight: bold;
  transition: 0.2s;
}
.HeadersTab {
  grid-area: headers;
  transition: 0.2s;
}
.JSONTab {
  grid-area: json;
  transition: 0.2s;
}
.queryParamsTab:hover,
.HeadersTab:hover,
.JSONTab:hover {
  font-weight: bold;
  transition: 0.2s;
  letter-spacing: 1px;
}
.headerWrapper,
.jsonWrapper {
  display: none;
}
.queryField,
.headerField {
  display: grid;
  grid-template-areas: "addbtn  keyvalpairs";
  grid-template-columns: 1fr 4.5fr;
  align-items: stretch;
  justify-content: stretch;
}
.headerField {
}
.jsonField {
}
.addField {
  position: relative;
  grid-area: addbtn;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.keyValueField {
  grid-area: keyvalpairs;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px 25px 10px 25px;
}
.keyValueField > * {
  margin-bottom: 15px;
  width: 93%;
  border-radius: 10px;
}
.addbtn {
  width: 54%;
  background: transparent;
  border: 1.4px solid var(--green);
  border-radius: 10px;
  color: var(--green);
  padding: 4px 8px;
  margin: 25px 0 0 0;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 1.3px;
}
.addbtn:hover {
  color: var(--primarytext);
  background: var(--green);
  border: 1.4px solid var(--green);
  font-weight: bold;
  transition: 0.5s;
}
.keyValPair {
  display: flex;
  overflow: hidden;
}
.keyField {
  border-radius: 10px 0 0 10px;
}
.valueField {
  border-radius: 0 0;
}
.btnRemove {
  border-radius: 0 10px 10px 0;
  border: none;
  background: transparent;
  border: 1.4px solid var(--redBorder);
  padding: 0 15px;
  transition: 0.4s;
  cursor: pointer;
}
.btnRemove:hover {
  background: var(--redBorder);
  color: var(--primarytext);
  transition: 0.4s;
}
.btnRemove:hover > * {
  filter: grayscale(1) brightness(10%);
  transition: 0.4s;
}
.responseWrapper {
  display: none;
  width: 100%;
  min-height: 40%;
  height: auto;
  border: 1.2px solid rgba(219, 219, 219, 0.4);
}
.responseBox {
  display: grid;
  width: 100%;
  height: 100%;
  font-size: 92%;
  grid-template-areas:
    "status     status"
    "bodytab    headertab"
    "ressec     ressec";
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 35px auto;
}
.statusbar {
  grid-area: status;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.statusbar > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  border: 1.2px solid rgba(219, 219, 219, 0.3);
}
.bodyResponseTab {
  grid-area: bodytab;
  background: var(--primarycard);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.2px solid rgba(219, 219, 219, 0.3);
  transition: 0.5s;
  background: var(--hovercard);
  font-weight: bold;
}
.headerResponseTab {
  grid-area: headertab;
  background: var(--primarycard);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.2px solid rgba(219, 219, 219, 0.3);
  transition: 0.2s;
}
.bodyResponseTab:hover,
.headerResponseTab:hover {
  letter-spacing: 1px;
  transition: 0.2s;
}
.answerContainer {
  grid-area: ressec;
  height: inherit;
  display: grid;
  max-height: 60vh;
}

.answerContainer > * {
  position: relative;
  grid-row-start: 1;
  grid-column-start: 1;
  display: block;
}
.bodyAnsContainer,
.bodyAnswer,
.headerAnsContainer,
.headerAnswer {
  height: 100%;
  width: 100%;
  color: var(--primarytext);
  padding: 10px;
}
.headerAnsContainer {
  padding: 0;
  display: none;
}
.headerAnswer {
  height: auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: stretch;
  justify-content: stretch;
  font-size: 92%;
}
.headerAnswer > * {
  border: 1.2px solid rgba(219, 219, 219, 0.3);
  min-height: 45px;
  padding: 10px;
}

.bodyAnsContainer {
  overflow: scroll;
}
